{% extends 'base.html.twig' %}

{% block title %}Bienvevue!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="BlocHome">
		<h1>The incredible SHIELD Agency
		</h1>
		<h2>Bienvenue dans l'univers des Super Héros les plus puissants !</h2>
		<p>
			Plongez dans un monde où le courage, la justice, et la force transcendent l'impossible. Notre mission est de protéger la Terre contre les menaces les plus redoutables, de défendre les innocents et de bâtir un avenir meilleur pour l'humanité.									
						Découvrez une équipe exceptionnelle de héros, chacun doté de pouvoirs extraordinaires et d'un engagement inébranlable envers le bien. Du vol supersonique à la maîtrise des éléments, en passant par une intelligence hors norme et une force surhumaine, nos champions repoussent les limites pour faire triompher l'espoir.<br><br>
			Que vous soyez ici pour explorer nos exploits, rejoindre notre cause, ou simplement découvrir des histoires héroïques, vous êtes au bon endroit. Ensemble, nous écrivons l’avenir.
			
			Rejoignez-nous et devenez, vous aussi, un héros dans votre propre histoire. Le monde a besoin de vous ! 🌟</p>

	</div>
{% endblock %}
