{% extends 'base.html.twig' %}

{% block title %}Nouvelle mission
{% endblock %}

{% block body %}
	<h1>Nouvelle mission</h1>

	{{ include('missions/_form.html.twig') }}
	<button class="bton">
		<a href="{{ path('app_missions_index') }}">Retour</a>
	</button>
{% endblock %}
