{% extends 'base.html.twig' %}

{% block title %}Edit Equipe
{% endblock %}

{% block body %}
	<h1>Edit Equipe</h1>
	<div id="blocTable">
		{{ include('equipe/_form.html.twig', {'button_label': 'Update'}) }}
	</div>
	<button class="bton">
		<a href="/equipe">Retour</a>
	</button>


	{{ include('equipe/_delete_form.html.twig') }}
{% endblock %}
