{% extends 'base.html.twig' %}

{% block title %}New Equipe
{% endblock %}

{% block body %}
	<h1>Créer une nouvelle équipe</h1>

	<div id="blocTable">
		{{ include('equipe/_form.html.twig') }}
	</div>
	<button class="bton">
		<a href="/equipe">Retour</a>
	</button>
{% endblock %}
