{% extends 'base.html.twig' %}

{% block title %}Edit SuperHeros
{% endblock %}

{% block body %}
	<h1>Upgrade du SuperHeros</h1>

	{{ include('super_heros/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_super_heros_index') }}">Retour</a>

	{{ include('super_heros/_delete_form.html.twig') }}
{% endblock %}
