{% extends 'base.html.twig' %}

{% block title %}New SuperHeros
{% endblock %}

{% block body %}
	<h1>Intégration d'un équipier</h1>
	<div id="blocTable">
		{{ include('super_heros/_form.html.twig') }}
	</div>


	<button class="bton">
		<a href="{{ path('app_super_heros_index') }}">retour</a>
	</button>
{% endblock %}
